body {
    position: absolute;
    background: url(../images/battle/field_background.jpg) center center;
    width: 100%;
    height: 100%;
}

.battleWrapperAbsolute {
    width: 100%;
    height: 100%;
    position: absolute;
}


.battleTitle {
    position: absolute;
    width: 200px;
    height: 100px;
    font-size: 70px;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -80px;
}

.battleWrapper {
    width: 1366px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -683px;
    top: 50%;
    margin-top: -300px;
    background-image: url(../images/battle/field_background2.png);
}

.statusPlayer {
    width: 200px;
    height: 768px;
    float: left;
}

.field {
    width: 945px;
    float: left;
    height: 663px;
}


.statusPlayer .deck {
    width: 150px;
    height: 200px;
    background: red url(../images/battle/card_background.jpg) center center;
    border-radius: 15px;
    margin: 10px 10px 10px 30px;
    border: 3px solid;
}


.statusPlayer .graveyard {
    width: 150px;
    height: 200px;
    /*background: red url(../images/battle/card_background.jpg) center center;*/
    border: 2px solid gray;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    margin: 10px 10px 10px 30px;
}

.statusPlayer .status {
    width: 180px;
    height: 208px;
    border-radius: 50%;
    margin: 10px;
    background-size: 120% 110% !important;
    border: 3px solid;
}

    .statusPlayer .status .playerLifeBar {
        height: 25px;
        width: 170px;
        color: White;
        font-weight: bold;
        text-align: right;
        padding: 0 5px;
        background-color: Red;
        line-height: 25px;
        margin: 150px 0 0 0;
    }

    .statusPlayer .status .playerManaBar {
        height: 25px;
        width: 90px;
        color: White;
        font-weight: bold;
        text-align: right;
        padding: 0 5px;
        background-color: blue;
        line-height: 25px;
        margin: 0px 0 0 80px;
    }

.field .computerHand {
    border: 3px solid black;
    height: 50px;
}

.field .atackField {
    height: 120px;
    border: 1px solid red;
}

.field .defenseField {
    height: 120px;
    border: 1px solid yellow;
}

.field .playerHand {
    border: 3px solid black;
    /*position: absolute;*/
    /*height: 504px;
    width: 1350px;*/
    top: 200px;
    left: 0;
}

    .field .playerHand .cardWrapper {
    }

.carta {
    perspective: 1000px;
}

.cardWrapper {
    display: block;
    /*disabling the translucent black bg on the main image*/
    /*3d space for children*/
    transform-style: preserve-3d;
    transition: all 0.5s;
    transform: scale(0.4, 0.4);
    transform-origin: bottom center;
    position: absolute;
    left: -68px;
    top: -77px;
}

    .cardWrapper:hover {
        display: block;
        /*disabling the translucent black bg on the main image*/
        /*3d space for children*/
        transform-style: preserve-3d;
        transition: all 0.5s;
        transform: scale(0.7, 0.7) translate(0,-70px);
        z-index: 100;
        position: absolute;
    }

.modalMenu {
    position: absolute;
    display: none;
    border-radius: 15px;
    z-index: 999;
    width: 150px;
    background-color: white;
}

    .modalMenu ul {
        list-style: none;
        margin: 0px;
        padding: 5px;
        text-align: center;
    }

    .modalMenu li:hover {
        background-color: lightsteelblue;
        border-radius: 15px;
        cursor: pointer;
    }

.field .creature {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    background: no-repeat center;
    background-size: cover;
    margin: 25px;
    float: left;
}

    .field .creature.used {
        -webkit-box-shadow: 0 0 20px 5px #9C880B;
        box-shadow: 0 0 20px 5px #9C880B;
    }

    .field .creature .fieldAttribute {
        width: 25px;
        height: 25px;
        position: relative;
        border-radius: 50%;
        color: black;
        float: left;
        text-align: center;
        vertical-align: middle;
        bottom: -40px;
        color: white;
    }

.creature .fieldAttribute.atk {
    background-color: darkblue;
    background: url(ataque.png) no-repeat center;
    background-size: contain;
    left: -5px;
}

.creature .fieldAttribute.def {
    background-color: firebrick;
    background: url(escudo.png) no-repeat center;
    background-size: contain;
    left: 5px;
}


.finishButton {
    width: 100px;
    height: 50px;
    background: firebrick;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
    margin-left: 50px;
    border-radius: 50%;
    color: white;
    font-weight: 500;
}

.cardContainer {
    width: 350px;
    height: 504px;
    position: relative;
    perspective: 800px;
}

.cardFlip {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

    .cardFlip .front, .cardFlip .back {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .cardFlip .front {
    }

    .cardFlip .back {
        transform: rotateY( 180deg );
        background: black url(../images/battle/card_background.jpg) center center;
        background-size: 120%;
        border-radius: 30px;
        border: 5px solid #333;
        width: 350px;
        height: 504px;
        position: absolute;
    }

    .cardFlip.flipped {
        transform: rotateY( 180deg );
    }
