html {
    width: 100%;
    height: 100%;
}

a:hover
{
    text-decoration: none;
}

*{
	padding:0;
	margin:0;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

body, #body {
    background-image: url('../Images/background-init3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.gameNameWrapper {
    width: 500px;
    position: absolute;
	left:50%;
	margin-left:-250px;
	height:280px;
	top: 50%;
	margin-top: -300px;
    background: url(../images/nil-logo2.png) center center no-repeat;
}

.menuWrapper {
    position: absolute;
	width: 900px;
	height: 300px;
	left: 50%;
	margin-left: -450px;
	top:50%;
	margin-top: 0px;
}

.initialMenu {
    list-style: none;
    height: 300px;
    width: 900px;
    margin: auto;
}

    .initialMenu li {
        float: left;
        margin: 15px 15px;
        width: 900px;
        text-align: center;
    }

    .initialMenu div {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .initialMenu .newGame {
        background: url(../Images/iniciar-jogo.png) center center no-repeat;
        width: 900px;
        height: 200px;
    }
    
    .initialMenu .newGame:hover {
        background: url(../Images/iniciar-jogo-hover2.png) center center no-repeat;
    }

    .initialMenu .settings {
        
    }

    .initialMenu .credits {
       
    }


.bgBlack {
    background-color:black;
    opacity:0.8;
    width:100%;
    height:100%;
    position:absolute;
    z-index:15;
    top:0px;
    display:none;
}
.CreditsContent{
    position:relative;
    top:105%;
    z-index:20;
    display:none;
    color:white;
    font-size:40px;
    line-height:80px;
    width:30%;
    margin:auto;
}
