@model JogoDoNilson.Models.GameEngine

@{
    ViewBag.Title = "battle";
}

@section header{

    @Styles.Render("~/content/battle.css")

}

<div class="battleWrapper">
    <div class="statusPlayer player1">
        <div class="graveyard">
            
        </div>
        <div class="deck">
            
        </div>
        <div class="status" style="background: url(@Url.Content(Model.PlayerTwo.AvatarImage))">
            
        </div>
    </div>
    <div class="field">
        <div class="computerHand">
        
        </div>
        
        <div class="computerField">
            <div class="defenseField"></div>
            <div class="atackField"></div>
        </div>
        
        <div class="playerField">
            <div class="atackField"></div>
            <div class="defenseField"></div>
        </div>

        <div class="playerHand">
            
        </div>
    </div>

    <div class="statusPlayer player2">
        
        <div class="status" style="background: url(@Url.Content(Model.PlayerOne.AvatarImage))">
            
        </div>
        <div class="deck">
            
        </div>
        <div class="graveyard">
            
        </div>
    </div>
</div>
