@{
    ViewBag.Title = "battle";
}

@section header{

    @Styles.Render("~/content/battle.css")

}

<div class="battleWrapper">
    <div class="statusPlayer player1">
        <div class="graveyard">
            
        </div>
        <div class="deck">
            
        </div>
        <div class="status">
            
        </div>
    </div>
    <div class="field">
        Field
    </div>

    <div class="statusPlayer player2">
        
        <div class="status">
            
        </div>
        <div class="deck">
            
        </div>
        <div class="graveyard">
            
        </div>
    </div>
</div>
