@{
    ViewBag.Title = "DERROTA";
    this.Layout = null;
}
<body style="background: url(@Url.Content("~/images/derrota.jpg")) center -100px;width:100%;height:1000px; overflow: hidden;"></body>

<audio autoplay loop>
  <source src="@Url.Content("~/Content/audio/applause.mp3")" type="audio/mpeg">
</audio>